:root{
--crema: #faf9f4;
--orange: #ffae4b;
--blue: #233dff;
--verde: #dcc500;
--yellow: #FCF6BD; 
--lilac: #C9D7F8;
--rosa: #F5C7D5;
--beige: #F0E5D8; 
--dorado: #F9E0A5;
--softblue: #A6C8D2;
--lilaOscuro: #9B7CC4;  /* Violeta más oscuro */

}


@font-face {
    font-family: 'catcheye';
    src: url(/fonts/Catchye.otf);
}

@font-face {
    font-family: 'mangiola';
    src: url(/fonts/Mangiola-Regular.ttf);
}

@font-face {
    font-family: 'lemonMilk';
    src: url(/fonts/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: 'lemonMilkLight';
    src: url(/fonts/LEMONMILK-Light.otf);
}

@font-face {
    font-family: 'lemonMilkMedium';
    src: url(/fonts/LEMONMILK-Medium.otf);
}

* {
    margin: 0 !important;
    margin-right: 0 !important;
    padding: 0; 
    box-sizing: border-box !important; /* Asegura que el padding y los márgenes no desborden el contenido */
  }
  


body {
    font-family: 'Poppins', sans-serif !important;
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    width: 100vw; /* Asegura que el body ocupe todo el ancho de la ventana */
    overflow-x: hidden; /* Oculta cualquier desbordamiento horizontal */
    background: linear-gradient(45deg, var(--yellow), var(--lilac)); /* Gradiente suave de rosa claro a violeta oscuro */
    background-size: 400% 400%;  /* Aumenta el tamaño para una transición más sutil */
     animation: gradientBG 10s ease infinite;
     scroll-behavior: smooth;

} 
.scrolled {
    background: linear-gradient(135deg, #F0E5D8, #F9E0A5, #F5C7D5);
}
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    gap: 10px;
}



.nav-link {
    color: #ffffff; /* Color por defecto */
    transition: color 0.3s ease; /* Transición suave para el cambio */
}

.nav-link:hover {
    color: var(--verde); /* Cambia de color al pasar el mouse */
}

.nav-link.active {
    color: var(--orange); /* Color específico cuando esté activo */
    font-weight: bold; /* Opcional: destacar con grosor */
    border-bottom: 2px solid var(--verde); /* Línea debajo del enlace activo */
}

 
 

.navbar-nav {
    display: flex;        /* Asegura que los elementos sean flexibles */
    gap: 20px;            /* Añade espacio entre los elementos */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinea todo el contenido al principio (izquierda) */
    align-items: flex-start; /* Alinea los elementos dentro del contenedor al principio (izquierda) */
    height: 100vh;
    margin-left: 29px !important;
}





/* Títulos */
.container h2 {
    font-size: 52px !important;
    margin-bottom: 10px;
    color: #444;
}

.container span {
    color: var(--verde);
}
.container h1 {
    font-size: 68px !important;
    margin-bottom: 30px;
    white-space: nowrap; /* Previene saltos de línea */
    height: 1.2em; /* Fija la altura para evitar cambios visuales */
     
}

.highlight {
    color: var(--verde); /* Color de las palabras dinámicas */
}

/* Botón */

.button-container {
    display: flex;
    justify-content: center; /* Centra los botones */
    gap: 40px; /* Espacio entre los botones */
    margin-top: 20px;
    flex-wrap: nowrap; /* Evita que los botones se apilen en pantallas pequeñas */
}


.button {
    padding: 12px 24px;
    font-size: 20px;
    color: #fff;
    background-color: var(--verde) ;
    border: none;
    border-radius: 55px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    font-weight: bold;
    width: auto; /* Cambia el ancho fijo a automático */
    max-width: 300px; /* Limita el ancho en pantallas grandes */
    margin-top: 50px !important;
    text-decoration: none; 
}

.button:hover {
    background-color: gray;
}


/* ABOUT ME */
.about {
    padding: 10px 0;
    color: #333;
    height: 100vh;
  }
 
  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  } 


  .about-image img {
    width: 100% !important;
    height: auto;
    border-radius: 10px;
    opacity: 1; /* Inicialmente invisible */
    transform: scale(0.8) rotate(-10deg); /* Pequeño y rotado */
    transition: all 1.5s ease-out; /* Suavidad del efecto */
 
  }
  .about-image img.animate {
    opacity: 1; /* Visible al activarse */
    transform: scale(1) rotate(0deg); /* Tamaño y posición normales */
  }
  .about-image {
    flex: 1;
    max-width: 400px; /* Ajusta según tus necesidades */
 }
  .about-text {
    flex: 1;
    padding-right: 20px;
  }

  .about-text p {
    line-height: 2;
  }
  
  
  .about-image img:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
  }
  
  .about-text h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px !important; 
  }


/* Habilidades */
#skills {
    height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(45deg, var(--yellow), var(--lilac)); /* Gradiente suave de rosa claro a violeta oscuro */

 }
.skills-grid {
    display: flex; /* Make the container a flexbox */
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    justify-content: space-between; /* Distribute items evenly with some space between them */
    width: 100%; /* Ensure the grid fills the available width */
  }
  
  .skill-item {
    width: 25%;
    flex: 0 0 25%;
    text-align: center;
    margin-bottom: 40px !important; /* Ajusta este valor para controlar el espacio entre filas */
}

  #skills h2, #projects h2, .contacto h2{
    font-size: 3rem; /* Aumenta el tamaño del título */
    color: #333; /* Cambia el color a uno que te guste */
    text-align: center; /* Centra el título */
    margin-bottom: 30px !important; /* Ajusta el margen debajo del título */
    font-weight: 600;
    text-transform:uppercase ;
   
}

.skill-item:hover .skill-icon svg {
    transform: scale(1.2); /* Aumenta el tamaño en un 20% */
    transition: transform 0.3s ease-in-out; /* Añade una transición suave */
  }
  /* Projects */
  .projects {
    background: linear-gradient(45deg, var(--yellow), var(--lilac)); /* Gradiente suave de rosa claro a violeta oscuro */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .project {
    margin-top: 40px !important;
    display: flex;
    align-items: center;
    width: 1200px; /* Ajusta el ancho según tus necesidades */
    margin: 20px;
  }
    
  .project img {
    width: 50%; /* La imagen ocupará la mitad del ancho */
    height: auto;
    transition: transform 0.3s ease;
  }
  .project:hover img {
    transform: scale(1.1);
  }

  .project-info {
    width: 50%;
    padding: 20px;
    margin-left: 60px;
  }
  

  /* Contacto  */
  .contacto {
    background: linear-gradient(45deg, var(--yellow), var(--lilac)); /* Gradiente suave de rosa claro a violeta oscuro */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .contacto form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }

  .contacto label {
    margin-bottom: 10px;
  }
  
  .contacto input,
  .contacto textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .contacto button {
    background-color: var(--verde);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px !important;
  }

  .redes-sociales {
    text-align: center;
    margin-top: 20px !important;
}

.redes-sociales .iconos {
    margin-top: 20px !important; /* Espaciado superior general */
    display: flex; /* Flexbox para alinear los íconos */
    justify-content: center; /* Centra los íconos horizontalmente */
    gap: 15px; /* Espaciado entre íconos */
  }
  .redes-sociales .iconos a:last-child {
    margin-right: 0; /* Elimina el espacio extra del último icono */
  }  
/* Media Queries para pantallas pequeñas */


    @media (max-width: 768px) {

            .container h2 {
                font-size: 24px !important; /* Ajusta el tamaño del subtítulo */
            }

            .container h1 {
                font-size: 42px !important; /* Reduce el tamaño del título */
            }

            .button-container {
                flex-direction: row; /* Mantiene los botones en fila */
                justify-content: center; /* Centra los botones */
                gap: 30px; /* Aumenta el espacio entre los botones en tabletas */
            }
        
            .button {
                font-size: 18px; /* Botones más grandes en móviles */
                padding: 15px 30px; /* Aumenta el tamaño de los botones */
                max-width: 100%; /* Los botones ocuparán todo el ancho posible */
                width: auto !important;
            }
            .about-content {
                flex-direction: column; /* Apila los elementos verticalmente */
                text-align: left; /* Alinea todo al centro */
              }
              .about-text,
              .about-image {
                width: 100%;
                margin-bottom: 20px;
              }

              .about-image img {
                max-width: 80%; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
                margin-top: 20px !important;
            }

            
            
}

@media (max-width: 480px) {
    .container h2 {
        font-size: 20px !important;
    }

    .container h1 {
        font-size: 28px !important;
    }

    .button {
        font-size: 14px;
        padding: 8px 16px;
        width: 100% !important; /* Ocupa el ancho completo en pantallas muy pequeñas */
       text-align: center;
    }
    .about-image img {
        max-width: 50%; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
        margin-top: 20px !important;
        flex: 1;
    }
}
